body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  font-family: 'Raleway' !important;
  font-weight: 500;
  border-radius: 50px !important;
}

input[type="password"] {
  font-family: 'Raleway' !important;
  font-weight: 500;
  border-radius: 50px !important;
}

.button.logout {
  border-radius: 50px !important;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
}

#submit-post {
  border-radius: 50px !important;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
}

button {
  border-radius: 50px !important;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
}

#search-bar {
  border: 1px solid #dfe1e5 !important;
}

#search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28) !important;
  border-color: rgba(223,225,229,0);
}

#search-bar:focus {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28) !important;
  border-color: rgba(223,225,229,0);
}

#post-content {
  box-shadow: 0 1px 3px 0 rgba(32,33,36,0.28) !important;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 75% !important;
  max-width: 100% !important;
  border-style: solid;
  border-color: #dfe1e5;
  background: white;
  border-radius: 25px;
  border-width: 1px;
}

.comment {
  max-width: 75%;
  width: 75%;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
}

span[class="text"] {
  color: rgb(33, 133, 208);
}
